<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/finance/normalize.css">
    <link rel="stylesheet" href="/static/finance/skeleton.css">
    <title>Finance application</title>
    <script src="/static/finance/jquery-3.6.0.min.js"></script>
    <script src="/static/finance/finance.js"></script>
    <script>
        $( document ).ready(function() {
            get_accounts();
        });
    </script>
</head>
<body>
<div id="container"></div>
</body>
</html>